@model IEnumerable<MIS4200_hm433314.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.DFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.PFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentMedication)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.DFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.PFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentMedication)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentID })
        </td>
    </tr>
}

</table>
